/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*.root {
     -fx-background-image: url("");
}
* 
*/
.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
    -fx-graphic: url("GOL.PNG");
}

.alert.information.dialog-pane {
    -fx-graphic: url("GOL.PNG");
}

.alert.error.dialog-pane {
    -fx-graphic: url("GOL.PNG");
}

.alert.warning.dialog-pane {
    -fx-graphic: url("GOL.PNG");
}